<!-- lista_productos.html -->
{% extends 'base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h1 class="mt-5">Lista de Productos</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>
                        <img src="{{ url_for('static', filename='archivos/' + producto.imagen) }}" alt="{{ producto.nombre }}" class="img-thumbnail" width="50">
                    </td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>
                        <a href="{{ url_for('ver_producto', id=producto.id) }}" class="btn btn-primary">Ver</a>
                        <a href="{{ url_for('editar_producto', id=producto.id) }}" class="btn btn-success">Editar</a>
                        <form method="POST" action="{{ url_for('eliminar_producto', id=producto.id) }}" style="display: inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este producto?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ url_for('agregar_producto') }}" class="btn btn-success">Agregar Producto</a>
{% endblock %}
